asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.4
cssselect==1.4.0
Django==5.2.11
django-environ==0.13.0
gunicorn==23.0.0
idna==3.11
jmespath==1.1.0
lxml==6.0.2
mysqlclient==2.2.8
packaging==26.0
parsel==1.11.0
requests==2.32.5
sqlparse==0.5.5
urllib3==2.6.3
w3lib==2.4.0
