COMPOSE_PROJECT_NAME=polishhamstats-dev

MARIADB_DATABASE=uke
MARIADB_ROOT_PASSWORD=dev_root_pass
MARIADB_USER=uke_user
MARIADB_PASSWORD=uke_pass

DB_USER=uke_user
DB_PASS=uke_pass
DB_DBDB=uke

PY_DEBUG=true
PY_HOSTS=dev.localhost,localhost,127.0.0.1

DB_PORT_PUBLISH=3307
WEB_PORT_PUBLISH=8001
