COMPOSE_PROJECT_NAME=polishhamstats-master

MARIADB_DATABASE=uke
MARIADB_ROOT_PASSWORD=master_root_pass
MARIADB_USER=uke_user
MARIADB_PASSWORD=uke_pass

DB_USER=uke_user
DB_PASS=uke_pass
DB_DBDB=uke

PY_DEBUG=false
PY_HOSTS=master.localhost,localhost,127.0.0.1

DB_PORT_PUBLISH=3308
WEB_PORT_PUBLISH=8002
