{% load i18n %}
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-body-secondary">
            © 2025 SQ5FOX adrian(at)grzeca.me<br/>
            {% translate "Kod portalu na licencji AGPLv3" %}<br/>
            <a href="/about">{% translate "O projekcie" %}</a><br/>
            <a href="https://gitlab.com/adrian.grzeca/polishhamstats">{% translate "Sprawdź projekt na gitlab.com!" %}</a>
        </p>
    </footer>
</div>
</body>

</html>