{% load i18n %}
<p class="text-center">
    {% blocktranslate trimmed %}
    Witaj na stronie projektu agregatora danych z amator.uke.gov.pl! Celem portalu jest budowanie historii polskich znaków i pozwoleń radiowych. Portal ma też pomóc nowym w tym hobby w wyborze ich znaku i propagować dobre praktyki!
    {% endblocktranslate %}
</p>
<p class="text-center">
    {% blocktranslate trimmed %}
    Strona nie gromadzi danych osobowych i nie przetwarza danych osobowych. Gromadzi jedynie publicznie dostępne dane z portalu UKE. Dane z PZK są pobierane w czasie rzeczywistym i nie są przetrzymywane w bazie danych. Dane o pozwoleniu i znaku nie są daną osobową. Dane z portalu UKE są pobierane w tle przez portal raz na dobę o 2:00 UTC.
    {% endblocktranslate %}
</p>
