{% load i18n %}
{% load static %}
{% include "html_start.html" %}
<div class="container w-50">
    <h1 class="text-center">{% translate "znakisp.pl" %}</h1>
    <p class="text-center">
        <img src="{% static 'logo-header.svg' %}" alt="{% translate 'znakisp.pl' %}" style="max-width: 100%; height: auto; max-height: 64px;" />
    </p>
    {% include "index_about.html" %}
</div>
<div class="container w-50">
    <div class="row align-items-start">
        <div class="col">
            <form class="border p-3" id="formCallsign">
                <div class="mb-3">
                    <label for="callsign" class="form-label">{% translate "Wyszukaj znak" %}</label>
                    <input type="text" class="form-control" id="callsign">
                    <div id="callsignHelp" class="form-text">{% translate "Wielkość liter nie ma znaczenia!" %}</div>
                </div>
                <button type="submit" class="btn btn-primary">{% translate "Szukaj" %}</button>
            </form>
        </div>
        <div class="col">
            <form class="border p-3" id="formLicense">
                <div class="mb-3">
                    <label for="license" class="form-label">{% translate "Wyszukaj pozwolenie" %}</label>
                    <input type="text" class="form-control" id="license">
                    <div id="licenseHelp" class="form-text">{% translate "Wielkość liter nie ma znaczenia!" %}</div>
                </div>
                <button type="submit" class="btn btn-primary">{% translate "Szukaj" %}</button>
            </form>
        </div>
    </div>
</div>

<script>
    (() => {
        'use strict'
        const formCallsign = document.getElementById('formCallsign');
        const formLicense = document.getElementById('formLicense');

        formCallsign.addEventListener('submit', event => {
            event.preventDefault()
            event.stopPropagation()
            const callsign = document.getElementById('callsign').value;
            window.location.href = '/callsign/' + callsign;
        }, false)

        formLicense.addEventListener('submit', event => {
            event.preventDefault()
            event.stopPropagation()
            const license = document.getElementById('license').value.trim();
            window.location.href = '/license/' + encodeURI(license);
        }, false)
    })()

</script>

{% include "html_end.html" %}